@media (prefers-color-scheme: light) {
  :root {
    /* Light theme */
    --background: #dedede;
    --color: #0b0b0b;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme */
    --background: #0e1111;
    --color: white;
  }
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans.ttf") format("truetype");
  font-weight: 100 900; /* Range of weights available */
  font-style: normal;
}

body {
  font-family:
    "DMSans",
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  background: var(--background);
  color: var(--color);
}

.container {
  padding: 16px;
  max-width: 610px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.logo-container {
  width: 100px;
  height: 100px;
  margin: 46px auto 8px auto;
  border-radius: 9999px;
  overflow: hidden;
}

.quotes {
  margin-top: 24px;
}

.logo {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
